# This configuration is for MetaAgent opcua-adapter
#
# OPC UA Server connection info
#
OpcUAServer:
    name: OPCUA
    # url: <opcua server's url>
    url: opc.tcp://milo.digitalpetri.com:62541/milo

    # namespaceFilter: <comma separated list of node's id using regex matching. stream data only from this node or below>
    namespaceFilter: ns=2;s=File.*, \ # top nodes allows regex 
                     ns=2;s=Dynamic/RandomDouble, \ # any individual node and their children 
                     ns=2;s=Dynamic/RandomFloat, \
                     ns=2;s=Dynamic/RandomInt32, \
                     ns=2;s=CTT/Static/DA Profile/Analog Type

    #
    # sampleInterval: <the fastest rate at which OPC UA server's monitored items should be accessed and evaluated (ms)>
    #                 default is 0, indicates that it should use the fastest practical rate

    #
    # Additional optional connection info
    # cert:     <location of the certificate file. Format: DER>
    # key:      <location of the key file. Format: PEM>
    # user:     <user's id>
    # password: <user's password>
    #
    # messageSecurityMode: [None, sign, sign&encrypt]
    # securityPolicy: [None, Basic128Rsa15, Basic256, Basic256Sha256, Aes128_Sha256_RsaOaep]
    #
    # messageSecurityMode and SecurityPolicy are only required if the server does not provide discovery service
    #
    #cert:     ../certs/public.cert.der
    #key:      ../certs/key.pem
    #user:     demo
    #password: test

#
# OPC UA MTConnect Adapter setting
#
server:
    # port: <port # to listen on>
    port: 7878

    # licenseKey: <your license key - default is demo mode if not provided>

logging:
    # serverity can be debug, info, warn, error or off, default is info
    severity: info

    #
    # suppress timestamp, default is false
    # messageOnly: <true or false>

